/**********************************************************************************************/

    .heade {
        /*width: 1503px;*/
        width: 100%;
        min-width: 1200px;
        height: 80px;
        background-color: #FFFFFF;
        z-index: 999;
        position: fixed;
        -webkit-box-shadow: 0 2px 4px #C0C0C0;
        box-shadow: 0 2px 4px #C0C0C0;
        margin-top: 0;
        top: 0;
    }
    .heade_logo {
        float: left;
        margin-left: 100px;
        height: 60px;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .heade_nav {
        float: right;
        margin-right: 130px;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 0;
    }
    .heade_nav>a {
        text-decoration: none;  
        color: #000;
        margin-right: 35px;
        font-size: 18px;
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;
    }
    .heade_nav>a:hover {
        color: #000000;
        font-size: 18px;
        background-color: white;
    }

/**********************************************************************************************************/
body{
	margin: 0px;
}
#kurban{
    float: left;
    padding: 0px;
    margin: 0px auto;
    /*border: 1px solid red;*/
}

#header {
    /*width: 1472px;*/
    width: 100%;
    line-height: 140px;
    background-color:#00a971;
    color:white;
    text-align:center;
    padding:15px;
    font-size: 30px;
    font-family: STXingkai;
}
#main{
    width: 1500px;
    /*border: 1px solid red;*/
    float: left;
}
#nav {
    margin-top: 30px;
    margin-left: 20px;
    line-height:50px;
    /*background-color:#eeeeee;*/
    /*height:300px;*/
    /*border: 1px solid red;*/
    width:200px;
    float:left;
    padding:5px; 
}
#nav ul li{
    border-radius: 10px;
    font-size: 20px;
    border-bottom: 1px solid white;
    margin-left: -45px;
    list-style: none;
    margin-right: -5px;
    padding-left: 30px;
    background-color:#00a971;

}
#nav ul li a{
    text-decoration: none;
    color: white;
}
#section {
    /*margin-top: -30px;*/
    margin: 50px 0px;
    border-top: 2px solid #9A9A9A; 
    border-left:2px solid #9A9A9A; 
    border-right:2px solid #9A9A9A; 
    width:1200px;
    margin-left: 10px;
        /*border: 1px solid red;*/
    float:left;
    padding:10px; 
}
.table_tr_kongbai{
    height: 30px;
}
.table_img{
    border: 1px solid #E8E8E8;
    padding: 10px;
    margin: 80px;    
}
.table_img_jianju{
    width: 20px;
}
.table_img img{
    width: 200px;    
}
.table_text{

}
.table_text p{
    font-family: kaiti;
    line-height: 30px;
    font-size: 18px;
    width: 200px;
    text-align: center;
    word-wrap: break-word;
}
#footer {
    line-height: 50px;
    /*width: 1492px;*/
    width: 100%;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}#footer a{
    text-decoration: none;
    color:white;
    clear:both;
}
#newContentMainMore{
    height: 20px;
    margin: 20px;
    color: black;
    font-size: 130%;
}
#newContentMainMore a{
    text-decoration: none;
}
.moreAColor a:link{color: #666666;}
.moreAColor a:hover{color: #00A971;font-size: 102%;}